        <div data-dce-background-color="#04606B" class="elementor-element elementor-element-23eff22 e-con-full e-flex e-con e-parent" data-id="23eff22" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false}">
            <div class="elementor-element elementor-element-23b0a35 e-con-full e-flex e-con e-child" data-id="23b0a35" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false}">
                <div class="elementor-element elementor-element-25a9b4d elementor-widget elementor-widget-heading" data-id="25a9b4d" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h1 class="elementor-heading-title elementor-size-default">L+C Psychological Services</h1>
                    </div>
                </div>
                <div class="elementor-element elementor-element-25077bf e-con-full e-flex e-con e-child" data-id="25077bf" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                    <div class="elementor-element elementor-element-02c38e6 elementor-widget elementor-widget-heading" data-id="02c38e6" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">Sometimes We Get Disconnected</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5cdc3ed elementor-widget elementor-widget-text-editor" data-id="5cdc3ed" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>We get disconnected from our significant other. . . children. . .parents . . . friends. . . jobs. . . happiness.</p>
                            <p>
                                At L+C Psychological Services we are here to help get your 
                                <em>life connected</em>
                                .
                            </p>
                            <p>Sometimes finding the path back to your life is difficult and you may need some help navigating.</p>
                            <p>
                                Our Psychologists and Therapists offer evaluations and therapy in Northern Kentucky to guide you and help get your 
                                <em>life connected</em>
                                .
                            </p>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4fb6731 e-flex e-con-boxed e-con e-child" data-id="4fb6731" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-32e2fa3 elementor-align-left elementor-widget elementor-widget-button" data-id="32e2fa3" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="tel:8595254911">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-text">Call Us: (859) 525-4911</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a8c6059 elementor-align-left elementor-widget elementor-widget-button" data-id="a8c6059" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://www.therapyportal.com/p/lcpsych41042/appointments/availability/" target="_blank" rel="noopener">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-text">Schedule Online</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-790afe6 e-flex e-con-boxed e-con e-child" data-id="790afe6" data-element_type="container" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-9146c9b elementor-hidden-tablet elementor-hidden-mobile dce_masking-none elementor-widget elementor-widget-image" data-id="9146c9b" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="110" height="91" src="/static/media/WS_Mobile_LC_logo_color.png" class="attachment-thumbnail size-thumbnail wp-image-212" alt="L+C Psychological Services - Mental Health Services"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-dce-background-color="#04606B" class="elementor-element elementor-element-32a6d5b e-con-full elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-child" data-id="32a6d5b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false}">
                <div class="elementor-element elementor-element-42489d8 dce_masking-none elementor-widget elementor-widget-image" data-id="42489d8" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img loading="lazy" decoding="async" width="768" height="512" src="/static/media/AdobeStock_451433611-768x512.jpeg" class="attachment-medium_large size-medium_large wp-image-2155" alt="Mental Health Therapy in Northern Kentucky" srcset="/static/media/AdobeStock_451433611-768x512.jpeg 768w, /static/media/AdobeStock_451433611-300x200.jpeg 300w, /static/media/AdobeStock_451433611-1024x683.jpeg 1024w, /static/media/AdobeStock_451433611-1536x1024.jpeg 1536w, /static/media/AdobeStock_451433611-2048x1365.jpeg 2048w" sizes="(max-width: 768px) 100vw, 768px"/>
                    </div>
                </div>
            </div>
        </div>